<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Demo 5: Tietomallit (models) ja EJS-templatet</title>
</head>
<body>

    <div class="container">

    <h1>Demo 5: Tietomallit (models) ja EJS-templatet</h1>

    <h2>Ajopäiväkirja</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Reitti</th>
                <th>Kilometrit</th>
                <th>Kirjaaja</th>
                <th>Kirjauspvm.</th>                
            </tr>
        </thead>

        <% let kilometritYht = 0 %>

        <tbody>
            <% matkat.forEach((matka) => { %>        
                
                <% kilometritYht = kilometritYht + matka.kilometrit %>
                
                <tr>
                    <td><%= matka.reitti %></td>
                    <td><%= matka.kilometrit %></td>
                    <td><%= matka.kirjaaja %></td>
                    <td><%= matka.kirjaamispvm %></td>
                </tr>
            <% })%>

            <% let aikaNyt = new Date() %>

                <tr>
                    <td>
                        <input class="form-control" type="text" name="reitti">
                    </td>
                    <td>
                        <input class="form-control" type="text" name="kilometrit">
                    </td>
                    <td>
                        <input class="form-control" type="text" name="kirjaaja">
                    </td>
                    <td>
                        <%= aikaNyt.getDate()%>.<%=(aikaNyt.getMonth() + 1)%>.<%= aikaNyt.getFullYear() %>                        
                    </td>
                </tr>

        </tbody>

    </table>

    Kilometrit yhteensä: <%= kilometritYht %> km

    </div>

</body>
</html>