<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Demo 6: Express-sessiot ja autentikointi</title>
</head>
<body>

    <div class="container">

    <h1>Demo 6: Express-sessiot ja autentikointi</h1>

    <h2>Ajopäiväkirja</h2>

    <form method="POST" action="/tallenna" onSubmit="return vahvistaUusi()">

    <table class="table">

        <thead>
            <tr>
                <th>Reitti</th>
                <th>Kilometrit</th>
                <th>Kirjaaja</th>
                <th>Kirjauspvm.</th>
                <th>&nbsp;</th>                
            </tr>
        </thead>

        <% let kilometritYht = 0 %>

        <tbody>
            <% matkat.forEach((matka) => { %>        
                
                <% kilometritYht = kilometritYht + matka.kilometrit %>

                <% let aika = new Date(matka.kirjaamispvm) %>
                
                <tr>
                    <td><%= matka.reitti %></td>
                    <td><%= matka.kilometrit %></td>
                    <td><%= matka.kirjaaja %></td>
                    <td><%= aika.getDate()%>.<%=(aika.getMonth() + 1)%>.<%= aika.getFullYear() %>   </td>
                    <td>&nbsp;</td> 
                </tr>
            <% })%>

            <% let aikaNyt = new Date() %>

                <tr>
                    <td>
                        <input class="form-control" type="text" name="reitti">
                    </td>
                    <td>
                        <input class="form-control" type="text" name="kilometrit">
                    </td>
                    <td>
                        <input class="form-control" type="text" name="kirjaaja">
                    </td>
                    <td>
                        <%= aikaNyt.getDate()%>.<%=(aikaNyt.getMonth() + 1)%>.<%= aikaNyt.getFullYear() %>                        
                    </td>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Lisää" >
                    </td>
                </tr>

        </tbody>

    </table>

    </form>

    <p>Kilometrit yhteensä: <%= kilometritYht %> km</p>

    <a href="/logout">Kirjaudu ulos</a>

    </div>

</body>
</html>