
    <%- include("includes/header") -%>

    <h2 class="mt-2">Käyttäjärekisteri</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Käyttäjätunnus</th>
                <th>Sijainti</th>
            </tr>
        </thead>
        <tbody>
            <% kayttajat.forEach((kayttaja) => { %>
                <tr>
                    <td>
                        <a href="/kayttaja/<%= kayttaja.id %>">
                        <%= kayttaja.sukunimi %>, <%= kayttaja.etunimi %>
                        </a> 
                    </td>
                    <td><%= kayttaja.kayttajatunnus %></td>
                    <td><%= kayttaja.kaupunki %>, <%= kayttaja.maa %></td>
                </tr>
            <% });  %>

        </tbody>        
    </table>

    <%- include("includes/footer") -%>    
